body {
  padding: 0;
  margin: 0;
}

.Top {
  height: 592px;
  background-image: url("../img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.Navbar {
  display: flex;
  justify-content: space-around;
  background: black;
}

.Logo {
  display: flex;
  color: white;
}

.Logo h3 {
  margin: auto 5px;
}

.Menu ul {
  display: flex;
}

.Menu li {
  margin: 0 17px;
  list-style: none;
}

.Menu li a {
  color: white;
  font-size: 18px;
  text-decoration: none;
}

.Sign {
  display: flex;
  margin: auto 15px;
  justify-content: space-between;
}

.Signup a {
  margin: 0 5px;
  padding: 10px;
  text-decoration: none;
  color: white;
  font-weight: 700;
  border: 2px solid white;
}

.Signin a {
  margin: 0 5px;
  padding: 10px;
  text-decoration: none;
  color: white;
  font-weight: 700;
  border: 2px solid white;
}

.Search {
  width: 882px;
  height: 369px;
  margin: 100px auto;
  background: #a4a4a4;
  border: 2px solid black;
  border-radius: 30px;
  text-align: center;
}

/* .Search hr {

} */

.Type {
  margin-top: 30px;
  margin-bottom: 15px;
}

.Type a {
  padding: 10px 10px;
  margin: 0 20px;
  border: 1px solid black;
  text-decoration: none;
  color: black;
}

.Search .Location {
  margin-top: 27px;
  height: 49px;
  width: 710px;
}

.Date {
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
}

.Pick input {
  height: 48px;
  width: 215px;
}

.Drop input {
  height: 48px;
  width: 215px;
}

.Action button {
  margin-top: 44px;
  width: 134px;
  height: 43px;
}
